$bg-color:  radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);

/*btn blue start*/
$btn-blue-text-color-normal: rgba(124, 218, 249, 1);
$btn-blue-text-color-hover: rgba(33, 37, 41, 1);
$btn-blue-bg-hover: #7CDAF9;
$btn-blue-text-color-active: rgba(124, 218, 249, 1);
$btn-blue-disabled: rgba(76, 88, 101, 1);
$btn-blue-color-disabled: #4C5865;
$btn-blue-color-hover: #212529;

/*btn blue end*/
