@import 'base.css';
@import "reset.scss";
@import "_typography.scss";
@import "colors.scss";
@import "mixin";

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px){
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media screen and (min-width: 767px){
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: $bg-color no-repeat fixed;
  //padding: 48px 212px;

  /*styles for fonts start*/
  h1 {
    font-weight: 600;
    font-size: 56px;
    @include adaptiv-font(56, 28);
    @media screen and (min-width: 1024px) and (max-width: 1919px) {
      @include font-style(48, 56, 600);
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      @include font-style(32, 40, 600);
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      @include font-style(28, 32, 600);
    }
  }

  h2 {
    @include adaptiv-font(32, 24);
    color: $color-h2;
    @media screen and (min-width: 1024px) and (max-width: 1919px) {
      @include font-style(24, 32, 600);
    }
  }

  h3 {
    @include adaptiv-font(24, 24)
  }
.info-text {
  @include adaptiv-font(20, 18);
  font-weight: 600;
  color: $color-h2;
  @media screen and (min-width: 1024px) and (max-width: 1919px) {
    @include font-style(18, 24, 600);
  }
}
  .text {
    @include font-style(16, 24, 500);
    color: $color-text-text;
  }
  .medium-text {
    @include font-style(14, 20, 500)
  }
  .second-text {
    @include font-style(12, 16, 400);
    color: #A3B8CC;
  ;
  }
  .money {
    @include adaptiv-font(24, 18);
    font-weight: 500;
    color: #A3B8CC
  ;
  }
  /*styles for fonts end*/
}